$primary-color: #999;
$secondary-color: #2ecc71;
$text-color: black;
$font-stack: 'arial, sans-serif';


header{
  display: flex;
  justify-content: center;
  background: $primary-color;
  padding: 20px;
  border-radius: 10px;
}
.container{
  display: flex;
  justify-content: center;
}

.content{
  margin-top: 20px;
}

.btn{
  background-color: $secondary-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
}